VaingloryGuide.xcodeproj/xcuserdata/*
VaingloryGuide/VaingloryGuide.xcworkspace/xcuserdata/*
VaingloryGuide/VaingloryGuide.xcworkspace/contents.xcworkspacedata
VaingloryGuide/VaingloryGuide.xcodeproj/xcuserdata/*
.DS_STORE